<div class="container-fluid bg-info" >
    <div class="row">
        <div class="col w-50">
            <div class=" shadow p-3 m-4 bg-body-tertiary rounded">
                <div >
                    <app-title [title]="'created question'"></app-title>
                    <table class="table table-success table-striped-columns table-hover ">
                        <tbody>
                            <tr>
                                <td >ID</td>
                                <td>{{question.id}} </td>
                            </tr>
                            <tr>
                                <td>Topic</td>
                                <td>{{question.topic}} </td>
                            </tr>
                            <tr>
                                <td>Title</td>
                                <td>{{question.title}} </td>
                            </tr>
                            <tr>
                                <td>Description</td>
                                <td>{{question.description_question}} </td>
                            </tr>
                          
                        </tbody>
                    </table>
                
                </div>
            </div>
        </div>
        <div class="col-6">
           
            <app-create-answer [questionData]="question"></app-create-answer>
          
            
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class=" shadow p-3 m-4 bg-body-tertiary rounded">
                <div class="bg-success rounded">
                    <h1 style="color:white ;">ANSWERS</h1>
                </div>
                <table class="table table-success table-hover ">
                    <thead >
                        <tr>
                            <th>{{'description'|uppercase}} </th>
                            <th>{{'datetime'|uppercase}} </th>
                            <th>{{'approved_by'|uppercase}} </th>
                            <th>{{'created_by'|uppercase}} </th>
                        </tr>
                    </thead>
                    <tbody >
                        <tr *ngFor="let x of answers">
                            <td>{{x.description_answer}} </td>
                            <td>{{x.datetime}} </td>
                            <td>{{x.approved_by}} </td>
                            <td>{{x.created_by}} </td>   
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    
    
</div>
