<div class=" shadow p-3 m-4 bg-body-tertiary rounded">
    <app-title [title]="'sign up'"></app-title>
 
    <div class="input-group mb-2 border border-info">
    <label class="input-group-text"for="userName">User Name</label>
    <input class="form-control" type="text" id="userName" [(ngModel)]="user.userName"
    #userName="ngModel" minlength="6" required placeholder="enter unique username">
    </div>
    <div *ngIf="userName.invalid && 
        (userName.dirty || userName.touched)" class="mb-2 border border-danger">
        <div *ngIf="userName.errors?.['required']">
        <label >user name is required. </label> 
        </div>
        <div *ngIf="userName.errors?.['minlength']">
        user Name must be at least 6 characters long.
        </div>
    </div>
    
    <div class="input-group mb-2 border border-info">
        <label class="input-group-text"for="email">email</label>
        <input class="form-control"type="text" email="" id="email" [(ngModel)]="user.email"
        #email="ngModel" minlength="6" required="" placeholder="enter email">
    </div>
    <div *ngIf="email.invalid && 
        (email.dirty || email.touched)" class="mb-2 border border-danger">
        <div *ngIf="email.errors?.['required']">
        email is required.  
        </div>
        <div *ngIf="email.errors?.['minlength']">
        email must be at least 6 characters long.
        </div>
        <div *ngIf="email.errors?.['email']">
        email must have @ and .
        </div>
    </div>
    <div class="input-group mb-2 border border-info">
        <label class="input-group-text"for="confirmationName">Name</label>
        <input class="form-control"type="text" id="name" [(ngModel)]="user.name"
        #name="ngModel" minlength="6" required="" placeholder="enter your name">
    </div>
    <div *ngIf="name.invalid && 
        (name.dirty || name.touched)" class="mb-2 border border-danger">
        <div *ngIf="name.errors?.['required']">
        name is required.  
        </div>
        <div *ngIf="name.errors?.['minlength']">
        name must be at least 6 characters long.
        </div>
    </div>
    <div class="input-group mb-2 border border-info">
        <label class="input-group-text"for="userPassword">Password</label>
        <input class="form-control"type="text"  id="userPassword" 
        [(ngModel)]="user.password" #password="ngModel" minlength="6" required=""
        placeholder="enter password">
    </div>
    <div *ngIf="password.invalid && 
        (password.dirty || password.touched)" class="mb-2 border border-danger">
        <div *ngIf="password.errors?.['required']">
        Password is required.  
        </div>
        <div *ngIf="password.errors?.['minlength']">
         Password must be at least 6 characters long.
        </div>
    </div>
    <div class="input-group mb-2 border border-info">
        <label class="input-group-text"for="userPassword">Confirm Password</label>
        <input class="form-control"type="text"  id="cPassword" 
        [(ngModel)]="cPassword" #confirmPassword="ngModel" minlength="6" 
        required="" placeholder="enter password">
    </div>
    <div *ngIf="confirmPassword.invalid && 
    (confirmPassword.dirty || confirmPassword.touched)" class="mb-2 border border-danger">
       
        
        <div *ngIf="confirmPassword.errors?.['required']">
            Password is required.  
            </div>
            <div *ngIf="confirmPassword.errors?.['minlength']">
             Password must be at least 6 characters long.
            </div>
    </div>
    <div *ngIf="confirmPassword.valid && (confirmPassword.value!=user.password)"
    class="mb-2 border border-danger">
            password not matching
    </div>
    <div class="input-group mb-2 ">
        <button  class="btn btn-lg btn-success" (click)="(signUp())"
                [disabled]="(userName.invalid || password.invalid || 
                email.invalid || name.invalid || (confirmPassword.value!=user.password))">signUp</button>
    </div>
    
</div>
