<div class=" shadow p-3 m-4 bg-body-tertiary rounded" *ngIf="user">
    <div class="input-group mb-2">
        <label class="input-group-text border-info">ID: </label>
        <label class="input-group-text border-success"  for="id">{{user.id}} </label>
    </div>
    <div class="input-group mb-2">
        <label class="input-group-text border-info">name:</label>
        <input class="form-control border-success" type="text" id="name" 
        [value]="user.name" [(ngModel)]="user.name">
    </div>
    <div class="input-group mb-2">
        <label class="input-group-text border-info">userName:</label>
        <input class="form-control border-success" type="text" id="userName" 
        
        [value]="user.userName" [(ngModel)]="user.userName">
    </div>
    <div class="input-group mb-2">
        <label class="input-group-text border-info">email:</label>
        <input class="form-control border-success" type="text" id="email" 
        
        [value]="user.email" [(ngModel)]="user.email">
    </div>
    <div class="input-group mb-2">
        <label class="input-group-text border-info">password:</label>
        <input class="form-control border-success" type="text" id="password" 
        [value]="user.password" [(ngModel)]="user.password">
    </div>
    <div class="input-group mb-2" *ngIf="auth.getUser().userType == 'admin'">
        <label class="input-group-text border-info">password:</label>
        <select class="form-select border-danger" id="role" [(ngModel)]="user.userType" >
            <option *ngFor="let r of roles" value={{r}}>{{r}} </option>
        </select>
    </div>
    
    
   

        <button class="btn btn-lg btn-success" (click)="(update())">update</button>
</div>
